@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --brand-black: #1a1a1a;
  --brand-gold: #FFC300;
  --brand-white: #ffffff;
}

@theme inline {
  --color-brand-black: var(--brand-black);
  --color-brand-gold: var(--brand-gold);
  --color-brand-white: var(--brand-white);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}